.cooperation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  padding: 24px 16px;
  gap: 10px;
}

.cooperation__title {
  color: #121212;
  text-align: center;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cooperation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.cooperation__container {
  width: calc(100vw - 84px);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  align-self: stretch;
}

.cooperation__logo {
  max-width: calc((100vw - 84px)/4);
  max-height: 2.5rem;
}

.cooperation__arrow {
  border: none;
  background-color: white;
  display: flex;
  width: 16px;
  height: 28px;
  padding: 2px;
  align-items: center;
  gap: 10px;
}

.next {
  margin-left: 10px;
  background: url("./img/next.svg");
  background-size: cover;
}

.next:hover {
  background: url("./img/next-hover.svg");
  background-size: cover;
  cursor: pointer;
}

.prev {
  margin-right: 10px;
  background: url("./img/previous.svg");
  background-size: cover;
}

.prev:hover {
  background: url("./img/next-hover.svg");
  transform: scaleX(-1);
  background-size: cover;
  cursor: pointer;
}

.arrow {
  width: 10px;
  height: 20px;
  flex-shrink: 0;
}
