.detail {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.detail__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding: 30px 25px;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  color: #fff;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-style: normal;
  line-height: normal;
}

.detail__header-city {
  font-size: 32px;
  font-weight: 800;
}

.detail__header-date {
  font-size: 28px;
}

.detail__header-btn {
  margin-top: 10px;
  display: flex;
  padding: 15px 50px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #740df9;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.detail__header-btn:hover {
  cursor: pointer;
  background: #740df9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail__info {
  width: 100vw;
  padding: 0 16px;
}

.detail__box {
  display: flex;
  padding: 24px 0;
  width: 90vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.detail__info-title {
  color: #740df9;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 13px;
}

.detail__info-text {
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sales__widget {
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
}

.sales__widget > iframe {
  width: 100%;
  max-width: 100%;
  border: 0;
  padding: 0;
}

.sales__widget-overlay {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 9000;
  background-color: #000;
}

.sales__widget-body-overlay {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (min-width: 769px) {
  .detail__header {
    padding: 40px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .detail__info {
    padding: 0 40px;
  }

  .detail__info-text,
  .detail__info-title {
    font-size: 20px;
  }

  .detail__header-city {
    font-size: 40px;
  }

  .detail__header-btn {
    font-size: 20px;
  }
}

@media (min-width: 993px) {
  .detail__header {
    padding: 48px 48px;
  }

  .detail__info {
    padding: 0 48px;
  }

  .detail__info-text,
  .detail__info-title {
    font-size: 20px;
  }

  .detail__header-city {
    font-size: 64px;
  }

  .detail__header-date {
    font-size: 35px;
  }

  .detail__header-btn {
    font-size: 24px;
  }
}

@media (min-width: 1201px) {
  .detail__header {
    padding: 80px 80px;
  }

  .detail__header-btn {
    font-size: 32px;
  }

  .detail__info {
    padding: 48px 80px;
    display: flex;
    gap: 48px;
  }

  .detail__info-text,
  .detail__info-title {
    font-size: 24px;
  }

  .detail__header-city {
    font-size: 96px;
  }

  .detail__header-date {
    font-size: 40px;
  }
}

@media (min-width: 1401px) {
  .detail__header {
    padding: 80px 100px;
  }

  .detail__header-btn {
    font-size: 40px;
  }

  .detail__info {
    padding: 48px 100px;
    display: flex;
    gap: 48px;
  }

  .detail__info-text,
  .detail__info-title {
    font-size: 24px;
  }

  .detail__header-city {
    font-size: 96px;
  }

  .detail__header-date {
    font-size: 40px;
  }
}
