.detail {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
}

.detail__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 289px;
  padding: 30px 16px;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Inter";
  font-style: normal;
  line-height: normal;
}

.detail__header-city {
  font-size: 32px;
  font-weight: 800;
}

.detail__header-date {
  font-size: 28px;
}

.detail__header-btn {
  margin-top: 10px;
  display: flex;
  padding: 15px 50px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #740DF9;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.detail__header-btn:hover {
  background: #740DF9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #FFF;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail__info {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.detail__info-title {
  color: #740DF9;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.detail__info-text {
  color: #121212;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sales__widget {
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
}


.sales__widget>iframe {
  width: 100%;
  max-width: 100%;
  border: 0;
  padding: 0;
}

.sales__widget-overlay {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 9000;
  background-color: #000;
}

.sales__widget-body-overlay {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
