.slider {
  display: flex;
  align-items: center;
}

.slider__image {
  width: 100vw;
  height: 294px;
  object-fit: cover;
  transition: opacity 0.8s ease;
}

.slider__text {
  z-index: 20;
  color: #FFF;
  font-family: "Days One", sans-serif;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 1rem;
}

.slider__text-more {
  position: absolute;
  left: 1rem;
  top: 10rem;
  width: 80vw;
  color: #FFF;
  font-family: "Inter", sans-serif;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  padding: 1rem;
  z-index: 20;
}

.slider__text-evenmore {
  display: none;
}

.first {
  position: absolute;
  left: 1rem;
  top: 8rem;
  width: 100vw;
}

.second {
  position: absolute;
  left: 10vw;
  top: 9rem;
  width: 80vw;
  text-transform: uppercase;
  text-align: center;
}

.third {
  position: absolute;
  left: 1rem;
  top: 8rem;
  width: 80vw;
}

@media (min-width:768px) {
  .slider__image {
    height: 448px;
  }

  .slider__text {
    font-size: 32px;
  }

  .slider__text-more {
    font-size: 24px;
    top: 22rem;
    font-weight: 600;
    width: 90vw;
  }

  .slider__text-evenmore {
    display: flex;
    position: absolute;
    left: 1rem;
    top: 26rem;
    width: 90vw;
    color: #FFF;
    font-family: "Inter", sans-serif;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    padding: 1rem;
    z-index: 20;
  }

  .first {
    top: 19rem;
  }

  .second,
  .third {
    text-align: center;
  }

  .second {
    left: 10vw;
    width: 80vw;
    top: 25rem;
  }

  .third {
    left: 15vw;
    width: 75vw;
    top: 23rem;
  }
}


@media (min-width:993px) {
  .slider__image {
    height: 533px;
  }

  .slider__text {
    font-size: 40px;
  }

  .slider__text-more {
    font-size: 32px;
    top: 24rem;
  }

  .slider__text-evenmore {
    font-size: 26px;
    top: 29rem;
  }

  .first {
    top: 20rem;
  }

  .second {
    top: 30rem;
  }

  .third {
    top: 28rem;
  }
}
