.aftermovies {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100vw;
}

.aftermovies__title {
  color: #121212;
  text-align: center;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.aftermovies__box {
  height: 168px;
  flex-shrink: 0;
  width: 90vw;
  border-radius: 16px;
  background: url("./img/aftermovie.png"), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.aftermovies__box:hover,
.aftermovies__box:focus {
  background: url("./img/aftermovie-hover.png"), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  ;
}

@media (min-width:993px) {
  .aftermovies {
    gap: 50px;
    padding: 48px;
  }

  .aftermovies__title {
    font-size: 48px;
  }

  .aftermovies__box {
    height: 264px;
    height: 347px;
  }
}

@media (min-width:1201px) {
  .aftermovies__title {
    font-size: 56px;
  }

  .aftermovies__box {
    height: 347px;
  }
}
