.video-carousel__box {
  display: flex;
  flex-direction: column;
}

.video-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
}

.video-thumbnail {
  width: 40vw;
  height: auto;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  transition: transform 0.2s;
}

.video-thumbnail:hover {
  transform: scale(1.1);
}

.video-thumbnail__image {
  width: 50vw;
  height: auto;
  border-radius: 16px;
}

.video-player {
  margin-top: 20px;
  max-width: 100%;
}
