.cooperation__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.cooperation__container {
  width: 75vw;
  height: 123px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cooperation__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cooperation__images::-webkit-scrollbar {
  display: none;
}

.cooperation__logo {
  max-width: calc(65vw / 4);
  height: auto;
  object-fit: contain;
  margin: 0 1.2vw;
  flex-grow: 1;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cooperation__logo:hover {
  transform: scale(1.1);
}

.cooperation__arrow {
  border: none;
  background-color: white;
  display: flex;
  width: 16px;
  height: 28px;
  align-items: center;
  gap: 10px;
}

.next {
  margin-left: 10px;
  background: url("./img/next.svg");
  background-size: cover;
}

.next:hover {
  background: url("./img/next-hover.svg");
  background-size: cover;
  cursor: pointer;
}

.prev {
  margin-right: 10px;
  background: url("./img/next.svg");
  transform: scaleX(-1);
  background-size: cover;
}

.prev:hover {
  background: url("./img/next-hover.svg");
  transform: scaleX(-1);
  background-size: cover;
  cursor: pointer;
}

@media (min-width:993px) {
  .cooperation__logo {
    width: calc(65vw / 5);
    margin: 0 2.2vw;
  }

  .cooperation__arrow {
    width: 34px;
    height: 61px;
  }

  .cooperation__logo {
    height: 61px;
  }

  .cooperation__box {
    margin: 15px 0;
  }
}

@media (min-width:1201px) {
  .cooperation__logo {
    margin: 0 2.9vw;
  }
}

@media (min-width:1401px) {
  .cooperation__logo {
    margin: 0 3.2vw;
  }
}
