.carousel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 10rem;
  max-width: 100%;
}

.carousel__box {
  display: flex;
  align-items: center;
}

.carousel__image-container {
  flex: 1;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel__images {
  display: inline-flex;
  padding: 0 25vw;
  flex-wrap: nowrap;
  -webkit-padding-start: 25vw;
}

.carousel__image {
  padding: 10px;
  width: 50vw;
  height: 134px;
  object-fit: cover;
  transform-origin: center center;
  border-radius: 25px;
}

.carousel__image-container::-webkit-scrollbar {
  display: none;
}

.carousel__dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.carousel__dot {
  border: 2px solid #121212;
  background-color: white;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: scale(1.4);
}

.active-dot {
  background-color: #121212;
}

@media (min-width:769px) {
  .gallery__slide-control {
    bottom: 12%;
  }

  .carousel__image {
    height: 218px;
  }
}

@media (min-width:993px) {
  .carousel__dots {
    gap: 15px;
    margin-top: 35px;
  }

  .carousel__dot {
    border: 4px solid #121212;
    width: 22px;
    height: 22px;
  }

  .carousel__image {
    height: 339px;
  }
}

@media (min-width:1201px) {
  .gallery__slide-control {
    bottom: 14%;
  }

  .carousel__image {
    width: 40vw;
  }

  .carousel__images {
    padding: 0 30vw;
  }
}

@media (min-width:1401px) {
  .gallery__slide-control {
    bottom: 14%;
  }

  .carousel__image {
    width: 30vw;
  }

  .carousel__images {
    padding: 0 35vw;
  }
}
