.hidden {
  display: none;
}

.raprezent__see {
  margin-top: 2rem;
  margin-bottom: 10px;
}

.rapresent__btn-countdown {
  display: flex;
  padding: 5px 30px;
  align-items: flex-start;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.80);
  width: 12rem;
  color: #121212;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.rapresent__btn {
  display: flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #740DF9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 3rem;
  color: #FFF;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rapresent__btn:hover {
  background: #FFF;
  color: #740DF9;
}

@media (min-width:768px) {

  .raprezent__see,
  .rapresent__btn-countdown {
    font-size: 20px;
  }

  .rapresent__btn-countdown {
    width: 14rem;
  }

  .rapresent__btn {
    font-size: 20px;
  }
}

@media (min-width:993px) {

  .raprezent__see,
  .rapresent__btn-countdown {
    font-size: 24px;
  }

  .rapresent__btn-countdown {
    width: 16rem;
  }

  .raprezent__countdown {
    display: flex;
    gap: 20px;
    align-items: baseline;
  }

  .rapresent__btn {
    font-size: 24px;
  }
}

@media (min-width:1201px) {

  .raprezent__see,
  .rapresent__btn-countdown {
    font-size: 20px;
  }

  .rapresent__btn-countdown {
    width: 14rem;
  }

  .rapresent__btn {
    font-size: 20px;
  }
}
